

.lg-title {
    font-family: 'Inter Tight', cursive;
    font-weight: 600;
    font-size: 57px;
}
.gray-font {
    color: gray;
}
.space-line {
    line-height: 35px;

}

.card-images {
    font-size: 100px;
}
.intro-left {
    vertical-align:middle;
    float:left;
    width: 50%;
    height: calc(100vh - 60px);

}

.intro-right {
    float:right;
    width: 50%;
    height: calc(100vh - 60px);
}
.intro-right img {
    position: absolute;
    bottom: 0;
}

.action-container {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 80%;
    margin-left: auto;
    justify-content: center;
    margin-top:calc((100vh - 60px) / 4);
}

.medium-btn {
    width: 150px;
    height: 50px; 
}
.blue-container {
    background-color: #4f95d0;
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card {
    /* background-color: white; */
    color: white;
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .intro-right {
        display: none;
    }
    .intro-left {
        width: 100%;
        padding-left: 0;

    }
    .action-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media screen and (max-width: 920px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
    }
}
@media screen and (max-width: 310px) {
    .card-images {
        display: none;
    }
}