@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Roboto&display=swap');


.header {
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    font-size: 50px;
}

.intro-left {
    vertical-align:middle;
    float:left;
    width: 50%;
    height: calc(100vh - 60px);

}

.intro-right {
    float:right;
    width: 50%;
    height: calc(100vh - 60px);
}
.intro-right img {
    position: absolute;
    bottom: 0;
}

.action-container {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 80%;
    margin-left: auto;
    justify-content: center;
    margin-top:calc((100vh - 60px) / 4);
}

.medium {
    width:150px;
}
.blue {
    background-color: teal;
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card {
    /* background-color: white; */
    color: white;
    width: 30%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .intro-right {
        display: none;
    }
    .intro-left {
        width: 100%;
        padding-left: 0;
        margin-left: 10%;
        margin-right: 10%
    }
}